.slideshow-container {
  position: relative;
  max-width: 100%;
}

.slide {
  display: none;
  transition: opacity 3s ease;
}

.slide.active {
  display: block;
  opacity: 1;
}

.slide img {
  width: 100%;
  height: auto;
}
